body {
	font-size:14px ;
	line-height:24px;
	color:#000000;
	font-weight: normal;
	font-family: arial;
	min-width: 1200px;
	margin: 0px;
	padding: 0px;
	}

h1 {
	font-size:30px ;
	line-height:30px;
	color:32425c;
	font-weight:normal;
	font-family: arial;
}

h2 {
	font-size:30px ;
	line-height:24px;
	color:000000;
	font-weight:normal;
	font-family: arial;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
	background: red;
	width:940px;
	margin: 0 auto;
	padding: 0 5px;
}				
.main-header {
	background:#f1f5f7;
	min-height:260px;
	padding-bottom:60px;
	margin-bottom: 60px;
}
.upper-header {
	background:yellow;
	margin: 0 auto;
  	min-height: 40px;
}
.central-header {
	background:#f1f5f7;
	margin: 0px auto;
}
.main-navigation{
	background:yellow; 
}

					/* элементы central-header*/
.market-description {
	margin-top: 45px;
	margin-left:50px;
	margin-right:70px;
	margin-bottom:50px;  
	float: left;
	background: pink;
	width:195px;
	min-height:60px; 
}
.header-contacts{
	margin-top: 45px;
	margin-bottom:50px;
	margin-right:70px;
	float:left;
	background: pink;
	width:270px;
	min-height:70px;
}
.enter-account{
	margin-top: 45px;
	margin-bottom:70px;
	float:right;
	background: pink;
	width:280px;
	
}
.active-account {
	margin-top: 45px;
	margin-bottom:70px;
	float:right;
	background: pink;
	width:280px;	
}
.btn-loged {
	display:inline-block;
	margin-left:60px; 
}
.btn-account{
	margin-left: 20px;
	display:inline-block;
}

						/* элементы upper-header*/
.bookmarks {
	background:pink;
	float:right;
	width:150px;
	height:40px;

}
.basket {
	background:pink;
	float:right;
	width:150px;
	height:40px;

}
.place-order {
	background:pink;
	float:right;
	width:150px;
	height:40px;
}
.index-logo {
	background:pink;
	float:left;
	width:220px;

}
.search {
	background:pink;
	float:left;
	padding-left:50px;
	width:140px;
}						/* разметка промо блока*/
.promo-block {
	background: yellow;
	width:940px;
	margin-bottom:50px; 
}
.promo-materials {
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	background:pink;
	width:300px; 
	height:123px; 
}
.slider{
	width:620px;
	float:left;
}
.slider-content{
	margin:0px;
}
.promo-materials:nth-child(1){
	margin: 0px;
}
.promo-materials:nth-child(4){
	float: right;
}
.promo-materials:nth-child(5){
	float: right;
}

.popular {
	height:90px;
	background: yellow;
	margin-bottom: 20px; 
}
h1.popular{
	float:left;
}
.show-popular{
	float:right;
}						/* товары*/
article {
	background: pink;
	font-size:14px;
	display:inline-block;
	margin-right:16px;
	margin-bottom:20px;
	vertical-align: top;
	width:220px;
	height:320px;
} 
.item-article:nth-child(4n) {
	margin:0px;
}
.item-catalog-article:nth-child(3n) {
	margin:0px;
}
.popular-producers-logo{
	margin-bottom:85px;
}
.popular-producers-logo a {
	display: inline-block;
	vertical-align: top;
	margin-bottom:20px;
	margin-right:16px; 
	background:pink;
	width: 220px;
	height: 150px;
}
.popular-producers-logo a:nth-child(4n) {
	margin: 0px;
}
.service-block {
	padding-top:70px;
	padding-bottom: 60px; 
	background: #f1f5f7;
}
.service-title {
	background:purple;
}

.service-slider{
	background: purple;
}

.service-slider-buttons{
	background:yellow;
	float: left;
	width: 240px;
	margin-top:80px
}
.about-delivery{
	background: pink;
	width: 275px;
	float:right;
	margin-top:80px;
	margin-left:80px;
	margin-right:340px; 

}

.about-company {
	width: 520px;
	background: yellow;
	float:left;
}
.adress-map {
	width:300px;
	background:yellow;
	float:right;
}
.adress-map img {
	margin-top: 35px;
	margin-bottom: 40px;
}
.transport-list{
	margin-bottom: 30px;
	margin-top: 40px;
}
						/* содержание страницы catalog*/


}
.breadcrumbs {
	background: yellow;
	margin-top: 25px;
	margin-bottom:25px; 
}
.main-title{
	background: yellow;
	padding-right:30px;
	padding-top: 30px;
	padding-bottom: 35px; 
}
div.sort {
	background: yellow;
	padding-top: 10px;
	padding-bottom:10px;
	float: inherit;
}
.sort-filter{
	background:pink;
	margin-left: 0px;
	padding-right:170px; 
}
section.item-list.list-article{
	width:700px;
	float:right;
	margin-top: 25px;
	margin-bottom:60px;
}
.about-block{
	background: yellow;
	float:left;
	padding-bottom:85px;
} 
.about-company-all{
	margin-bottom: 85px;
}

.show-items {
	float:left;
	width:170px;
}
.item-groups {
	background:purple;
	width:220px;
	margin-bottom:20px;
	margin-top: 20px; 
}
.about-block-container {
	background: #f1f5f7;
}

label {
	display: block;
}
.range {
	margin-bottom:20px;
	margin-top:30px;
}
						/* элементы pre-footer*/
.pre-footer {
	background: blue;
}
.pre-footer-navigation{
	background: yellow;
	float: right;


}
.pre-footer-adress{
	margin-top: 30px;
	background: yellow;
	width: 325px;
	

}
.footer-index-logo {
	background: pink;	
}
.logo-block {
	float:left;
}

					/* элементы main-footer*/
.main-footer {
	background: green;
}
.copyright{
	background: yellow;
	margin-top:35px;
	margin-bottom: 35px;
	margin-right: 160px;
	width: 230px;
	float: left;
}
.footer-social{
	background: yellow;
	margin-top:35px;
	margin-bottom: 35px;
	margin-right: 119px; 
	width: 130px;
	float: left;
}
.feedback {
	background: yellow;
	margin-top:35px;
	margin-bottom: 35px;
	width: 140px;
	margin-right:50px; 
	float: left;
}
.developer-copyright {
	background: yellow;
	margin-top:35px;
	margin-bottom: 35px;
	float: right;
	margin-right:10px; 
}

	






	
